version: '3'

services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: payload
      POSTGRES_PASSWORD: payloadpass
      POSTGRES_DB: payload_db
    ports:
      - '5432:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data
    logging:
      driver: none

volumes:
  pg_data:
    name: pg_data # Use exact volume name without prefix
