version: '3'

services:
  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    command:
      - --storageEngine=wiredTiger
    volumes:
      - mctl_data:/data/db
    logging:
      driver: none

volumes:
  mctl_data:
    name: mctl_data # Use exact volume name without prefix
