version: '3'

services:
  # payload:
  #   image: node:20-alpine
  #   ports:
  #     - '3000:3000'
  #   volumes:
  #     - .:/home/node/app
  #     - node_modules:/home/node/app/node_modules
  #     - ./apps/web/.next:/app/apps/web/.next
  #   environment:
  #     - WATCHPACK_POLLING=true
  #   working_dir: /home/node/app/
  #   command: sh -c "npm install && npm run dev"
  #   depends_on:
  #     - mongo
  #   env_file:
  #     - .env

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    command:
      - --storageEngine=wiredTiger
    volumes:
      - data:/data/db
    logging:
      driver: none

volumes:
  data:
  node_modules:
